@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: white;
}

.left {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.left #menu {
    border-radius: 50%;
    padding: 10px;
}
.left #menu:hover {
    background-color: #b7b7b7;
}

.search {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.search form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 20px;
    padding-left: 20px;
    overflow: hidden;
    align-items: center;
    width: calc(100% - 50px);
    justify-content: space-between;
}

.form-end {
    display: flex;
    height: 100%;
    width: 80px;
    align-items: center;
}



/* have to play with width of this element */
.search input {
    display: flex;
    padding: 10px;
    border: 0;
    height: 100%;
    width: 80%;

}

input:focus {
    outline: none;
    border: 1px solid #ddd;
  }

.search button {
    height: 100%;
    width: 60px;
    border: none;
}
.mic {
    border-radius: 50%;
    background-color: #efefef;
    padding: 10px;
}


main {
    height: 100vh;
    display: flex;
    background-color: #f9f9f9;
    margin-top: 60px;
}
.side-bar {
    height: 100%;
    width: 70px;
    background-color: white;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navlink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 10px;
    color: rgb(42, 42, 42);
}

.navlink:hover {
    background-color: #e5e5e5;;
}

@media (max-width: 768px) {
    .side-bar {
        display: none;
    }

}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' -25,
    'opsz' 48;
    color: rgb(100, 100, 100);
    cursor: pointer;
  }
  .navlink.material-symbols-outlined {
    font-variation-settings:
    'opsz' 70;
    color: black;
  }